*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}

.elements{
    flex-direction: column;
    display: flex;
  h1{
    color: #6C6C6C;
    font-size: 18px;
    
     
  }

  h2{
    color: #000;
    font-size: 32px;
     margin-bottom: 32px;
     margin-top: 20px;
  }
}
.image img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width:750px)
{
    .container{
        display: flex;
        flex-direction: row;
    }

    .elements{
        align-items: center;
        justify-content: column;
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        flex: 1;
    }
    p{
       width: 100%;
    }
    .image img{
        height: 100vh;
        width: 500px;
    }
}